{# @var craft \craft\web\twig\variables\CraftVariable #}
{% from "_partials/_macros.twig" import displayCodeLines %}
{% spaceless %}
    {% set hosts = craft.users.group("owners").all() %}
    {% set codeLines = [] %}
    {% set codeLine %}
        <span class="text-grey italic">// Copyright &copy; {{ now |date("Y") }} {% for host in hosts %}{{ host.fullName }}{% if not loop.last %}, {% endif %}{% endfor %}</span>
    {% endset  %}
    {% set codeLines = codeLines |merge({
        "line21": codeLine
    }) %}
    {% set codeLine %}
        <span class="text-grey italic">// Site by <a class="header-link" href="https://nystudio107.com/" target="_blank">nystudio107.com</a>, designed by <a class="header-link" href="https://codemdd.io/" target="_blank">codemdd.io</a></span>
    {% endset  %}
    {% set codeLines = codeLines |merge({
        "line22": codeLine
    }) %}
    {% set codeLine %}
        {% verbatim %}
            <span class="text-grey-light"> {{ footer.privacyPolicy }} </span><span class="text-grey-light"> {{ footer.termsOfService }} </span>
        {% endverbatim %}
    {% endset  %}
    {% set codeLines = codeLines |merge({
        "line24": codeLine
    }) %}
{% endspaceless %}
<footer>
    <div class="px-4 py-4 bg-blue-darkest overflow-x-scroll">
        <div class="h-64 relative">
            {{ displayCodeLines(11, 24, codeLines) }}
        </div>
    </div>
</footer>
