{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/layout.twig" %}

{% block headLinks %}
    <link rel="amphtml" href="{{ siteUrl('/about/amp') }}">
{% endblock headLinks %}

{% block content %}

    <section>
        <div class="py-8 w-full">
            <div class="w-full max-w-lg mx-auto">
                {# -- Intro -- #}
                <div>
                    <div class="inline-block text-devmode-pink bg-grey-lightest font-mono text-xs text-left p-8">
                        {{ "We are" |typogrify }}
                    </div>
                </div>
                {# -- Show title -- #}
                <div>
                    <div class="inline-block bg-grey-lightest p-8">
                        <strong>
                            <h1 class="text-devmode-pink font-mono italic text-bold text-4xl sm:text-5xl">
                                <a href="/" class="title-link" @mouseover="prerenderLink" rel="noopener">
                                {{ showInfo.showTitle }}</h1>
                                </a>
                        </strong>
                    </div>
                </div>
                {# -- Show hosts -- #}
                <div>
                    <div class="inline-block text-devmode-pink bg-grey-lightest font-mono text-xs text-left p-8">
                        {% for host in craft.users.group("hosts").orderBy("elements.dateCreated ASC").all() %}{{ host.fullName }}{% if not loop.last %}, {% endif %}{% endfor %}
                    </div>
                </div>
                {# -- Recent tags -- #}
                <div>
                    <div class="inline-block bg-grey-lightest p-8">
                        {% for tag in craft.tags.group('episodes').limit(5).all() %}
                            <span class="devmode-tags">
                                #{{ tag.title }}
                            </span>
                        {% endfor %}
                    </div>
                </div>
                {# -- Show summary -- #}
                <div>
                    <div class="inline-block text-devmode-pink bg-grey-lightest font-sans text-xl p-8 leading-normal">
                        {{ showInfo.showDescription |nl2br |typogrify }}
                        <br />
                        <br />
                        This website is built with:
                    </div>
                </div>
                {# -- Reference links -- #}
                {% if  showInfo.showTechnologiesLinks |length %}
                    <div>
                        <div class="inline-block text-devmode-pink bg-grey-lightest font-sans text-2xl p-8">
                            <i class="icon-info-circled align-middle"></i>
                            <ul class="list-reset inline">
                                {% for link in showInfo.showTechnologiesLinks %}
                                    <li class="inline">
                                        <a href="{{ link.linkUrl }}" class="tags-link align-middle whitespace-no-wrap" title="{{ link.linkName }}" target="_blank" rel="nofollow noopener">{{ link.linkName }}</a>
                                        <span> </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% set plugins = craft.app.plugins.allPlugins() %}
                {# -- Plugins -- #}
                {% if  plugins |length %}
                    <div>
                        <div class="inline-block text-devmode-pink bg-grey-lightest font-sans text-2xl p-8">
                            <i class="icon-plug align-middle"></i>
                            <ul class="list-reset inline">
                                {% for plugin in plugins %}
                                    <li class="inline">
                                        <a href="{{ "https://github.com/#{plugin.packageName}" }}" class="tags-link align-middle whitespace-no-wrap" title="{{ plugin.name }}" rel="noopener nofollow" target="_blank">{{ plugin.name }}</a>
                                        <span> </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </section>

{% endblock %}

{% block subcontent %}
    <section>
        <div class="bg-devmode-aqua">
            <div class="pt-8">
                <div class="w-full bg-transparent">
                    <div class="pt-8 mb-8">
                        <h3 class="text-white text-center">
                            Our Hosts
                        </h3>
                    </div>
                </div>
            </div>
            {% for host in craft.users.group("hosts").orderBy("elements.dateCreated ASC").all() %}
                <div class="container mx-auto py-8">
                    <div class="flex flex-wrap {% if loop.last %} pb-8{% endif %}">
                        {% include "about/_partials/_display_host_excerpt.twig" with {
                            "host": host,
                            "showInfo": showInfo,
                        } only %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
{% endblock bodyJs %}
