{% header "Content-Type: application/rss+xml" %}
{% set hosts = craft.users.group("owners").all() %}
{% set baseUrl = alias('@cloudfrontUrl') ~ '/' %}
{% do craft.webperf.includeBeacon(false) %}
{% do seomatic.config.renderEnabled(false) %}
<?xml version="1.0" encoding="UTF-8"?>

<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom/" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd">
    <channel>
        <title>{{ showInfo.showTitle |typogrifyFeed }}</title>

        <link>{{ showInfo.showUrl }}</link>

        <language>{{ craft.app.language |slice(0,2) }}</language>
        <atom:link href="{{ url(craft.app.request.pathInfo) }}" rel="self" type="application/rss+xml" />
        <pubDate>{{ now |rss }}</pubDate>
        <lastBuildDate>{{ now |rss }}</lastBuildDate>

        <copyright>Copyright ©{{ now |date("Y") }} {% for host in hosts %}{{ host.fullName }}{% if not loop.last %}, {% endif %}{% endfor %}</copyright>

        <itunes:subtitle>{{ showInfo.showSubTitle }}</itunes:subtitle>
        <itunes:summary>{{ showInfo.showDescription |typogrifyFeed }}</itunes:summary>
        <description>{{ showInfo.showDescription |typogrifyFeed }}</description>

        <itunes:author>{% for host in hosts %}{{ host.fullName }}{% if not loop.last %}, {% endif %}{% endfor %}</itunes:author>

        {% set host = hosts[0] %}
            <itunes:owner>
                <itunes:name>{{ host.fullName |typogrifyFeed }}</itunes:name>
                <itunes:email>{{ host.email }}</itunes:email>
            </itunes:owner>

        <itunes:explicit>clean</itunes:explicit>

        <itunes:image href="{{ url(showInfo.showImage.one().getUrl() | split('?') | first) }}" />

        <itunes:category text="{{ showInfo.showGenre |typogrifyFeed }}">
            <itunes:category text="Tech News" />
        </itunes:category>

        {% for episode in craft.entries.section("episodes").all() %}
            <item>
                {% set summaryText = stringy(episode.episodeSummary).lines()[0] |truncateOnWord(300) |typogrifyFeed %}

                <title>{{ episode.title }}</title>
                <itunes:episode>{{ episode.episodeNumber }}</itunes:episode>
                <itunes:episodeType>full</itunes:episodeType>
                <itunes:block>No</itunes:block>
                <link>{{ episode.url }}</link>

                <itunes:author>{% for host in episode.episodeHosts.all() %}{{ host.fullName |typogrifyFeed }}{% if not loop.last %}, {% endif %}{% endfor %}</itunes:author>

                <itunes:summary>
                    {{ summaryText }}
                </itunes:summary>
                <itunes:subtitle>
                    {{ summaryText | truncate(255) | typogrifyFeed }}
                </itunes:subtitle>
                <description>
                    {{ summaryText }}
                </description>
                <content:encoded>
                    <![CDATA[
                    <p>{{ episode.episodeSummary |typogrifyFeed |nl2br |raw }}</p>
                    <ul>
                        {% for link in episode.episodeReferenceLinks %}
                            <li>
                                <a href="{{ link.linkUrl }}" >{{ link.linkName }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    ]]>
                </content:encoded>

                <itunes:keywords>{{ seomatic.helper.extractKeywords(episode.episodeSummary) }}</itunes:keywords>

                <itunes:image href="{{ url(showInfo.showImage.one().getUrl() | split('?') | first, null, "http") | raw }}" />

                <itunes:explicit>no</itunes:explicit>
                <googleplay:explicit>no</googleplay:explicit>

                <pubDate>{{ episode.postDate |rss }}</pubDate>

                {% set transAudioUrl = craft.transcoder.getAudioUrl(episode.episodeMedia.one(), {
                    "audioBitRate": "64k",
                    "audioSampleRate": 22050,
                    "audioChannels": 1
                }) %}
                {% if transAudioUrl |length %}
                    {% if not craft.app.config.general.devMode %}
                        {% set transAudioUrl = transAudioUrl | replace('/^(http|https):/', '') %}
                        {% set transAudioUrl = transAudioUrl | replace('//', '') %}
                        {% set transAudioUrl = "https://chtbl.com/track/81493/#{transAudioUrl}" %}
                    {% endif %}
                    {% set fileInfo = craft.transcoder.getFileInfo(episode.episodeMedia.one(), true) %}

                    {% if fileInfo | length %}
                    <enclosure url="{{ url(transAudioUrl) |raw }}" length="{{ fileInfo.size }}" type="audio/mpeg" />
                    {% endif %}

                    <guid>{{ url(episode.episodeNumber) }}</guid>

                    {% if fileInfo | length %}
                    <itunes:duration>{{ fileInfo.duration |round }}</itunes:duration>
                    {% endif %}
                {% endif %}
            </item>
        {% endfor %}
    </channel>
</rss>
