<div class="p-8 my-8 w-full devmode-container rounded-full">
    <div class="w-full mx-auto">
        {# -- Audio player -- #}
        {% set transAudioUrl = craft.transcoder.getAudioUrl(episode.episodeMedia.one(), {
            "audioBitRate": "64k",
            "audioSampleRate": 22050,
            "audioChannels": 1
        }) %}
        {% if transAudioUrl |length %}
            {% if not craft.app.config.general.devMode %}
                {% set transAudioUrl = transAudioUrl | replace('/^(http|https):/', '') %}
                {% set transAudioUrl = transAudioUrl | replace('//', '') %}
                {% set transAudioUrl = "https://dts.podtrac.com/redirect.mp3/#{transAudioUrl}" %}
            {% endif %}
            {% set fileInfo = craft.transcoder.getFileInfo(episode.episodeMedia.one(), true) %}
            {% include "episodes/_partials/_meta-episode-custom.twig" with {
                "episode": episode,
                "fileInfo": fileInfo,
                "showInfo": showInfo,
                "audioUrl": transAudioUrl,
            } only %}
            <div class="">
                <div id="single-song-player">
                    <div class="bottom-container flex items-center justify-center">
                        <div class="flex flex-shrink">
                            {% if craft.app.config.general.devMode %}
                                <amp-audio src="{{ transAudioUrl }}"
                                           width="250"
                                           height="30"
                                           title="{{ episode.title }}"
                                           album="{{ showInfo.showTitle }}"
                                           artist="{{ showInfo.showTitle }}"
                                           controls>
                                    <source type="audio/mpeg" src="{{ transAudioUrl }}">
                                </amp-audio>
                            {% else %}
                                <amp-audio src="{{ transAudioUrl }}">
                                    width="250"
                                    height="30"
                                    title="{{ episode.title }}"
                                    album="{{ showInfo.showTitle }}"
                                    artist="{{ showInfo.showTitle }}"
                                    controls>
                                    <source type="audio/mpeg" src="{{ transAudioUrl }}">
                                </amp-audio>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
