{# @var craft \craft\web\twig\variables\CraftVariable #}
<div class="w-full md:w-1/2 bg-grey-lightest">
    {% set showImage = showInfo.showImage.one() %}
    <picture>
        <source srcset="{{ showImage.optimizedImages.srcsetWebP() }}"
                sizes="(min-width: 768px) 50vw,
                    100vw"
                type="image/webp" />
        <img src="{{ showImage.optimizedImages.src() }}"
             srcset="{{ showImage.optimizedImages.srcset() }}"
             sizes="50vw" />
    </picture>
</div>
<div class="w-full sm:w-1/2 bg-grey-lightest">
    <div class="p-4">
        {# -- Episode number and date -- #}
        <div class="text-grey-dark text-lg uppercase  py-2">
            {{ "Episode " ~ episode.episodeNumber }} &middot; {{ episode.postDate |date('Y.m.d') }}
        </div>
        {# -- Episode title -- #}
        <div class="text-black text-3xl  py-2">
            <a href="{{ episode.url }}" class="title-link">
                {{ episode.title |typogrify }}
            </a>
        </div>
        {# -- Episode tags -- #}
        <div class="text-grey-dark text-xl py-2">
            {% for tag in episode.episodeTags.all() %}
                <span>#{{ tag.title }}{% if not loop.last %} {% endif %}</span>
            {% endfor %}
        </div>
        {# -- Episode summary -- #}
        <div class="text-black text-xl  py-2">
            {{ episode.episodeSummary |typogrify }}
        </div>
        {# -- Audio player -- #}
        {% set transAudioUrl = craft.transcoder.getAudioUrl(episode.episodeMedia.one(), {
            "audioBitRate": "64k",
            "audioSampleRate": 22050,
            "audioChannels": 1
        }) %}
        {% if transAudioUrl |length %}
            <div class="py-2">
                <audio class="w-full" controls>
                    <source src="{{ transAudioUrl }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                {% set fileInfo = craft.transcoder.getFileInfo(episode.episodeMedia.one(), true) %}
            </div>
            {# -- Play time -- #}
            {% if  fileInfo |length %}
                <div class="text-grey-dark text-xl py-2">
                    Play time: {{ fileInfo.duration |humanDuration }}
                </div>
            {% endif %}
        {% endif %}
        {# -- Reference links -- #}
        {% if  episode.episodeReferenceLinks |length %}
            <div class="text-grey-dark text-lg uppercase  py-2">
                Mentioned in the show:
            </div>
            <div class="text-black text-xl py-2">
                {% for link in episode.episodeReferenceLinks %}
                    <li>
                        <a href="{{ link.linkUrl }}" class="title-link" title="{{ link.linkName }}" rel="nofollow,noopener">{{ link.linkName }}</a>
                    </li>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
