
{%- minify -%}
{% set baseUrl = alias('@baseUrl') ~ '/' %}
{% set backgroundUrl = "#{baseUrl}img/site/devmode-fm-light-bg-opaque.svg" %}
<!DOCTYPE html>
<html class="fonts-loaded" lang="{{ craft.app.language |slice(0,2) }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>

    {# -- Head meta tags & links -- #}
    {% include "_partials/head-meta.twig" %}
    <link rel="alternate" type="application/rss+xml" href="{{ siteUrl("/rss") }}" />
    <meta name="apple-itunes-app" content="app-id=1323364824" />

    {# -- Any <link> tags that should be included in the <head> #}
    {% block headLinks %}
    {% endblock headLinks %}

{%- endminify -%}

    {# -- Any JavaScript that should be included before </head> -- #}
    {% include "_partials/head-js.twig" %}
    {% block headJs %}
    {% endblock headJs %}

    {# -- Inline and critical CSS -- #}
    <style>
        {% include "_inline-css/site-fonts.css" %}
        [v-cloak] {display: none !important;}
    </style>
    {% include "_partials/critical-css.twig" %}

{%- minify -%}

    {# -- Any CSS that should be included before </head> -- #}
    {% block headCss %}
    {% endblock headCss %}

</head>

    {# -- HTML Body -- #}
    <body>
        <div id="page-container" class="overflow-hidden">

            <div id="content-container" class="bg-repeat header-background" style="background-image: url('{{ backgroundUrl }}');">

            {# -- Info header, including _navbar.twig -- #}
            {% include "_partials/info-header.twig" %}

                <main>
                    <div class="container mx-auto pb-8">
                        {# -- Primary content block -- #}
                        {% block content %}
                        {% endblock %}
                    </div>
                </main>
            </div>

            {# -- Content that appears below the primary content block -- #}
            {% block subcontent %}
            {% endblock %}

            {# -- Info footer -- #}
            {% include "_partials/info-footer.twig" %}

            {# -- HTML Footer -- #}
            {% include "_partials/global-footer.twig" %}

        </div>

        {{ craft.twigpack.includeSafariNomoduleFix() }}
        {{ craft.twigpack.includeJsModule("app.js", true) }}
        {{ craft.twigpack.includeJsModule("styles.js", true) }}

        {# -- Any JavaScript that should be included before </body> -- #}
        {% block bodyJs %}
        {% endblock bodyJs %}
    </body>
</html>
{%- endminify -%}
