{# @var craft \craft\web\twig\variables\CraftVariable #}
{% header "Content-Type: application/rss+xml" %}
{% set hosts = craft.users.group("owners").all() %}
{% set baseUrl = craft.app.config.general.custom.baseUrl %}
{% set staticAssetsVersion = craft.app.config.general.custom.staticAssetsVersion %}
<?xml version="1.0" encoding="UTF-8"?>

<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:atom="http://www.w3.org/2005/Atom">
    
    <channel>
        
        <title>{{ showInfo.showTitle }}</title>
        
        <link>{{ showInfo.showUrl }}</link>
        
        <language>{{ craft.app.language |slice(0,2) }}</language>
        <atom:link href="{{ url(craft.app.request.pathInfo) }}" rel="self" type="application/rss+xml" />
        <pubDate>{{ now |rss }}</pubDate>
        <lastBuildDate>{{ now |rss }}</lastBuildDate>
        
        <copyright>Copyright ©{{ now |date("Y") }} {% for host in hosts %}{{ host.fullName }}{% if not loop.last %}, {% endif %}{% endfor %}</copyright>
        
        <itunes:subtitle>showInfo.showSubTitle</itunes:subtitle>
        
        <itunes:summary>{{ showInfo.showDescription }}</itunes:summary>
        <description>{{ showInfo.showDescription }}</description>
        
        
        <itunes:author>{% for host in hosts %}{{ host.fullName }}{% if not loop.last %}, {% endif %}{% endfor %}</itunes:author>
    
        {% set host = hosts[0] %}
            <itunes:owner>
                <itunes:name>{{ host.fullName }}</itunes:name>
                <itunes:email>{{ host.email }}</itunes:email>
            </itunes:owner>
        
        <itunes:explicit>clean</itunes:explicit>
        
        <itunes:image href="{{ url(showInfo.showImage.one().getUrl(), null, "http") }}" />
        
        <itunes:category text="{{ showInfo.showGenre }}">
            <itunes:category text="Tech News" />
        </itunes:category>
        
        
        {% for episode in craft.entries.section("episodes").all() %}
            <item>
                
                <title>{{ episode.title }}</title>
                <link>{{ episode.url }}</link>
                
                <itunes:author>{% for host in episode.episodeHosts.all() %}{{ host.fullName }}{% if not loop.last %}, {% endif %}{% endfor %}</itunes:author>
                
                <itunes:subtitle>Episode {{ episode.episodeNumber }}</itunes:subtitle>
                
                <itunes:summary>
                    <![CDATA[
                    {{ episode.episodeSummary |raw }}
                    ]]>
                </itunes:summary>
                <description>
                    <![CDATA[
                    {{ episode.episodeSummary |raw }}
                    ]]>
                </description>
                
                <itunes:image href="{{ url(showInfo.showImage.one().getUrl(), null, "http") }}" />
                
                <itunes:explicit>clean</itunes:explicit>
                <pubDate>{{ episode.postDate |rss }}</pubDate>
    
                {% set transAudioUrl = craft.transcoder.getAudioUrl(episode.episodeMedia.one(), {
                    "audioBitRate": "64k",
                    "audioSampleRate": 22050,
                    "audioChannels": 1
                }) %}
                {% if transAudioUrl |length %}
                    {% set fileInfo = craft.transcoder.getFileInfo(episode.episodeMedia.one(), true) %}
        
                    <enclosure url="{{ url(transAudioUrl, null, "http") }}" length="{{ fileInfo.size }}" type="audio/mpeg" />
                    <guid>{{ url(episode.episodeNumber) }}</guid>
                    
                    <itunes:duration>{{ fileInfo.duration |round }}</itunes:duration>
                {% endif %}
            </item>
        {% endfor %}
    
    
    </channel>

</rss>
