
{% extends "_layouts/generic-page-layout.twig" %}

{##
 # Handler for URLs of the format https://devMode.fm/<episodeNumber>
 # which are unfortunately used in the `guid` field in the RSS feed
 # and so get crawled by Google, yet cannot be changed or RSS readers
 # will think they are new episodes, and download them.
 #}
{% if episodeNumber is defined %}
    {% set entry = craft.entries({
        "section": "episodes",
        "episodeNumber": episodeNumber,
    }).one() %}
    {% do seomatic.helper.loadMetadataForUri(entry.uri) %}
{% endif %}

{% set includeAudioMeta = true %}

{% block headLinks %}
    {{ parent() }}
    <link rel="amphtml" href="{{ siteUrl(craft.app.request.pathInfo ~ '/amp') }}">
{% endblock headLinks %}

{% block content %}
    <section>
        <div>
            <div class="flex flex-wrap">
                {% include "episodes/_partials/_display_episode.twig" with {
                    "episode": entry,
                    "showInfo": showInfo,
                    "includeAudioMeta": includeAudioMeta,
                } only %}
            </div>
        </div>
    </section>
    {# -- Transcript -- #}
    {% set transcript = entry.episodeTranscript.one() %}
    {% if transcript %}
    <section>
        <div>
            <div class="flex flex-wrap">
                {% include "episodes/_partials/_display_transcript.twig" with {
                    "episode": entry,
                    "transcript": transcript,
                } only %}
            </div>
        </div>
    </section>
    {% endif %}
    {# -- Webmentions facepile -- #}
    <section>
        <div class="my-8 w-full">
            <div class="w-full max-w-4xl mx-auto">
                {% include "_partials/webmentions-facepile.twig" with {
                    "entry": entry,
                } only %}
            </div>
        </div>
    </section>
{% endblock %}

{% block subcontent %}
    <section>
        <div class="devmode-container">
            <div class="container mx-auto p-4">
                <a name="comments"></a>
                {% if not craft.app.request.getIsPreview() and entry.status == "live" %}
                    {{ disqusEmbed(entry.slug, entry.title, entry.url) }}
                {% endif %}
            </div>
        </div>
    </section>

    {% include "episodes/_partials/_display_recent_episodes.twig" with {
        "showInfo": showInfo,
    } only %}
{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ craft.vite.script("src/js/modules/player.js") }}
    {{ craft.vite.script("src/js/modules/episodes.js") }}
{% endblock bodyJs %}
